/* I declare that the lab work here submitted is original 
except for source material explicitly acknowledged,
and that the same or closely related material has not been 
previously submitted for another course.
I also acknowledge that I am aware of University policy and 
regulations on honesty in academic work, and of the disciplinary 
guidelines and procedures applicable to breaches of such
policy and regulations, as contained in the website.

University Guideline on Academic Honesty: 
https://www.cuhk.edu.hk/policy/academichonesty/

Student Name : Liu Man Yin
Student ID : 1155159567
Class/Section : CSCI2720
Date : 29/9/2023 */

header {
  /*background-color: crimson;*/
  background-image: url("./header2.jpeg");
  background-size: 100% 1000%;
  color: seashell;
  padding: 1.25em;
  text-align: center;
  margin-bottom: 0;
  font-size: 1.75em;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

body {
  font-family: 'Poppins', sans-serif;
  border: 0;
  margin: 1em;
  padding: 0;
  background-color: seashell;
}

nav ul {
  margin-top: 0.75em;
  background-color: #E73C37;
  list-style-type: none;
  border: 0;
  margin: 0;
  padding: 0.75em;
  text-align: center;
  margin-bottom: 0.75em;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: underline;
  color: SeaShell;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

section {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.responsive {
  width: 100%;
  max-width: 14em;
  height: auto;
}

#title {
  color: SeaShell;
  background-color: Crimson;
  text-align: center;
  padding: 2em;
  margin: 1em;
  border: 1px solid black; 
}

#subtitle {
  color: orangered;
  text-align: center;
  padding: 0.8em;
  margin: 1em;
  border: 1px solid orangered; 
}

#para {
  color: orangered;
  font-size: 1em;
}

#textInput {
  margin: 0.5em;
}

/*#submitButton {
}*/

.reviewBox {
  float: left;
  width: 300px;
  height: 300px;
  color: SeaShell;
  display: flex; /*center align*/
  justify-content: center; 
  align-items: center;
  margin: 2em;
  padding: 2em;
  /*border: 5px solid black;*/ 
  background-color: crimson;
  font-size: 0.875em;
}

.newReviewBox {
  float: left;
  width: 300px;
  height: 300px;
  color: crimson;
  display: flex; /*center align*/
  justify-content: center; 
  align-items: center;
  margin: 2em;
  padding: 2em;
  background-color: yellow;
  font-size: 0.875em;
}


.after-box {
  clear: left;
  display: flex; /*center align*/
  justify-content: center; 
  align-items: center;
  margin: 1em;
  padding: 2em;
  font-size: 0.875em;
}