/* I declare that the lab work here submitted is original 
except for source material explicitly acknowledged,
and that the same or closely related material has not been 
previously submitted for another course.
I also acknowledge that I am aware of University policy and 
regulations on honesty in academic work, and of the disciplinary 
guidelines and procedures applicable to breaches of such
policy and regulations, as contained in the website.

University Guideline on Academic Honesty: 
https://www.cuhk.edu.hk/policy/academichonesty/

Student Name : Liu Man Yin
Student ID : 1155159567
Class/Section : CSCI2720
Date : 29/9/2023 */

.header {
  /*background-image: url('./header-r.jpeg');*/
  background-image: url('https://images.unsplash.com/photo-1518893063132-36e46dbe2428?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2835&q=80');
  background-color: crimson;
  background-size: cover;
  background-position: center;
  height: 10rem; /* Set an appropriate height for your header */
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-text {
  color: seashell;
  text-align: center;
  font-size: 2.25rem;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  padding: 1.25em;
}

@media (max-width: 1080px) {
  .header {
    height: 5rem;
  }

  .header-text {
    font-size: 1.2rem;
  }
}

body {
  font-family: 'Poppins', sans-serif;
  border: 0;
  margin: 1em;
  padding: 0;
  background-color: seashell;
}

#sec-navbar {
  display: none; /*set to hide sec-navbar at first*/
}

/*nav ul {
  margin-top: 0.75em;
  background-color: #E73C37;
  list-style-type: none;
  border: 0;
  margin: 0;
  padding: 0.75em;
  text-align: center;
  margin-bottom: 0.75em;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: underline;
  color: SeaShell;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}*/

/* 
#navbar-main {
  margin-bottom: 1.25em;
} 
*/

main {
  margin-top: 1.25em;
}

section {
  max-width: 50em;
  font-size: 1rem;
  margin: 0 auto;
  padding: 1.25em;
  background-color: white;
  box-shadow: 0 0 0.4em rgba(255, 0, 0, 0.314);
  margin-bottom: 1.25em;
}

/* Media query for smaller mobile screens */
@media (max-width: 480px) {
  section {
    font-size: 0.75rem;
    padding: 1em;
  }
}

.lead {
  font-size: 1.2em; /* Default font size */
}

/* Media query for smaller mobile screens */
@media (max-width: 480px) {
  .lead {
    font-size: 0.85rem; /* Smaller font size for smaller screens */
  }
}


aside {
  font-size: 16px; /* Default font size */
  width: 40%;
  padding-left: 1rem;
  margin-left: 0.5rem;
  float: right;
  box-shadow: inset 5px 0 5px -5px orangered;
  font-style: italic;
  color: orangered;
}

/* Media query for smaller mobile screens */
@media (max-width: 480px) {
  aside {
    font-size: 12px; /* Smaller font size for smaller screens */
    width: 50%;
  }
}


aside > p {
  margin: 0.4rem;
}

.left-container {
  display: flex; /* flex container */
  flex-direction: column; /* direction of main axis */
  justify-content: center; /* align item along the main axis */
}

.right-container{
  padding-top: 1em;
}

h2 {
  padding: 0.2em;
  background-color: white;
  color:#E73C37;
  
}

/* Media query for smaller mobile screens */
@media (max-width: 480px) {
  h2 {
    font-size: 1.25rem;
    padding: 0.2em;
    background-color: white;
    color:#E73C37;
  }
}

/* Media query for smaller mobile screens */
@media (max-width: 480px) {
  h4 {
    font-size: 1rem;
  }
}

.responsive {
  width: 100%;
  max-width: 14em;
  height: auto;
}

.table th {
  text-align: center;
  font-weight: bold;
}
/*
#spotlight {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

#spotlightColumn {
  flex: 1 1 250px;
  padding: 10px;
}

.spotlightBox {
  background: linear-gradient(to right, #f5a1a1, #aa0f03aa); 
  color: white;
  padding: 10px;
  text-align: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
} */

.spotlightColumn {
  padding: 10px;
}

.spotlightColumn:nth-child(3n+1) {
  background-color: #f8eeea; /* Set background color for every first column in a row */
}

.spotlightColumn:nth-child(3n+2) {
  background-color: #fcdbd0; /* Set background color for every second column in a row */
}

.spotlightColumn:nth-child(3n+3) {
  background-color: #ffcac0; /* Set background color for every third column in a row */
}

footer {
  font-size: 0.75em;
}

